<ul class="mdl-list">
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Sub-menu
    </span>
    <span class="mdl-list__item-secondary-content">
      <i class="material-icons">chevron_right</i>
    </span>
  </li>
  <li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">
    Notification
  </span>
    <span class="mdl-list__item-secondary-action">
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
        <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
      </label>
  </span>
</li>
</ul>
