<dialog class="mdl-dialog" id="mchn-dial">
  <h4 class="mdl-dialog__title">Add machine</h4>
  <div class="mdl-dialog__content">
    <ul class="mdl-list">
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content mdl-list__margin">
          Name
        </span>
        <span class="mdl-list__item-secondary-action">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="mchn-name">
            <label class="mdl-textfield__label" for="sample1">Name</label>
          </div>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content mdl-list__margin">
          Code
        </span>
        <span class="mdl-list__item-secondary-action">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="mchn-code">
            <label class="mdl-textfield__label" for="sample1">Code</label>
          </div>
        </span>
      </li>
    </ul>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button" id="mchn-add">Add</button>
    <button type="button" class="mdl-button close" id="mchn-cancel">Cancel</button>
  </div>
</dialog>
<button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add-btn" id="mchn-btn">
  <i class="material-icons">add</i>
</button>
