@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.add-btn, .cmd-machines {
  position: fixed;;
  right: 3%;
  bottom: 3%;
  z-index: 2;
}

.demo-card-wide.mdl-card {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.demo-card-wide > .mdl-card__background{
  height: 176px;
  background: url('../img/crepe.jpg') center / cover;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
 background: rgba(0, 0, 0, 0.2);
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.progress-title{
  margin: 0;
}

.cmd-machines{
  display: none;
}

.cmd-machine{
  text-align: right;
  padding-bottom: 5px;
}

#p1{
  width: 100%;
}

.view{
  display: none;
}

.mdl-layout__drawer-button{
  outline: 0;
}

.mdl-progress{
  width: 100%;
}

.dial-input{
  width: 30%;
}

.mdl-list__margin {
  margin-right: 14%;
}
